
body{
    background-image: linear-gradient(rgb(230, 247, 176), white);
    background-repeat: no-repeat;
    background-size: auto;
}

.contained-fieldset{
    margin-top: 2px;
    display: flex;
    flex-direction: column;
    background-color: rgb(242, 251, 215);
}

h1{
    color: rgb(100, 117, 46);
    margin-left: 60px;
}

.formInput, textarea, select, #submitButton{
    font-family: 'Times New Roman', Times, serif;
    font-size: 120%;
    width: 100%;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
}

label{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-decoration: underline;
    color: rgb(100, 117, 46);
}

.container{
    max-width: 600px;
    height: 0,auto;
    margin-left: 60px;
    border-bottom: solid rgb(100, 117, 46);
}

#submitButton, .deleteButton, .editButton{
    background-image: linear-gradient(white, rgb(230, 247, 176));
    font-family: 'Times New Roman', Times, serif;
    border-style: groove;
    text-align: center;
    max-width: 120px;
    font-weight: bold;
    margin: 3px auto;
    padding: 6px 18px;
    border-radius: 8px;
    opacity: 0.6;
    transition: 0.3s;
    cursor: pointer;
    }

.submitButton:hover, .deleteButton:hover, .editButton:hover{
    opacity:1;
}

.submitButton:active, .deleteButton:active, .editButton:active{
    background-image: linear-gradient(rgb(230,230,230), rgb(200, 217, 146));
}

.radioForm{
    margin-left: 60px;
    margin-top: 2px;
    display: flex;
    flex-direction: row;
    background-color: rgb(242, 251, 215);
    border: 2px solid rgb(100, 117, 46);
    width: 40%;
}

.searchingTools{
    display: flex;
    flex-direction: row;
    max-width: 640px;
}

@media only screen and (max-width: 600px) { 

    .container{
        margin-left: 2px;
    }

    h1{
        margin-left: 2px;
    } 

    .radioForm{
        margin-left: 2px;
    }
    
}

legend{
    color: rgb(100, 117, 46);
    font-weight: bold;
}
